[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-writable-nested = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[dev-packages]
coverage = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"
